.container2{
    height: 130px;
    width: 500px;
    background-color: white;
    margin-left: 391px;
  }
  .feed{
    margin-right: 439px;
    font-size: 15px;
    color: blue;
    margin-top: 9px;
  }
  
  .holder{
    width: 470px;
    margin-right: 79px;
    margin-left: 10px;
  }
  .button{
    margin-top: 10px;
    background-color:#1072e3;
    color:white;
    margin-left: 386px;
  }
  
  .vertical-menu {
      width: 200px;
      margin-top: 47px;
      margin-left: 106px;
      width: 250px;
    }
    
    
  .vertical-menu a {
      background-color: #eee;
      color: black;
      display: block;
      padding: 12px;
      text-decoration: none;
      background-color: #e6e2d8;
    }
     .feed1{
       border-bottom-color: black;
       /* border-style: ridge; */
       border: none;
       border-bottom-style: solid;
       border-bottom-width: 1px;
       border-color:black;
     }
    .vertical-menu a:hover {
      background-color: #ccc;
    }
    
    .vertical-menu a.active {
      background-color: #4CAF50;
      color: white;
    }
    
    .humanimg1{
      height: 30px;
      width: 30px;
      /* margin-top: px; */
     margin-right: 1082px;
     margin-top:-56px;
     
    }
    .user{
      border: none;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-color:black;
      margin-top: 2px;
      margin-right: 849px;
      width: 200px;
      background-color:lightgray;
    }
    .homeimg12{
      height: 350px;
      width: 465px;
      margin-top: -368px;
      margin-left:5px;
    }
    .paragraph12{
      margin-top: 23px;
     font-size: 15px;
     margin-bottom: 367px;
     margin-right: 5px;
     color: black;
    }
   .admincontainer{
      background-color: white;
      height: 500px;
      width: 572px;
      margin-left: 400px;
      margin-top: -144px
   }
   .event2{
     margin-right:401px;
     font-size:15px;
     color: gray;
  
   }
   #day2{
     margin-left:403px;
     margin-top: -23px;
     font-size:15px;
     color: gray;
   }
   .feedstext12{
     margin-top: 21px;
   }
   /* .container1{
        margin-bottom: 10px;
        margin-left:20px;
   } */