.navbar{
    background-color:#08476e;
    width: 100%;
    height: 50px; 
   

}
.nav1{
    color: white;
    margin: 30px;
    margin-top: -31px;
    margin-left: 950px; 
}
.nav2{
    color: white;
    margin: 30px;
    margin-top: 1px;  
}

.logo2{
    height: 48px;
    width: 70px;
    border-radius: 100%;
    margin-top: -7px;
}
#logbtn{
    margin-top: -83px;
    background-color: gray;
}
#homebtn{
    background-color: lightblue;
}

 




