.logPage{
    background-color: white;
    
}
.paraleave1{
    margin-left: 89px;
    margin-top: 10px;
    color: rebeccapurple;
    font-size: 20px;
}
.emp1{
    width: 200px;
} 
 .login1{
    font-size: 32px;
    margin-top: 3px;
    margin-left: 79px;
    color: #f70606;
 }

 .lockimg{
     height: 30px;
     width: 30px;
     margin-top: 5px;
     margin-left: 74px;
     color: rgb(0, 0, 0);
 }
 .humanimg{
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-left: 90px;
    color: black;
 }
.pwd{
    margin-left: 26px;
    margin-top: 10px;
    
}
.emp{
    margin-left: 3px;
    margin-top: 64px;
    
}
.logo1{
    height: 100px;
    width: 100px; 
    border-radius: 100%; 
    margin-top: 1px;
    margin-left: 82px;
}
.login4{
    margin-top: 15px; 
    margin-left: 120px; 
    width: 250px;
    color: white;
    background-color:#1072e3;
}
.forgetpassword{
    margin-left: 250px;
    font-size:13px;
    color:black;
    font-size: 13px;
}
.header2{
    margin-right: 45px;
    font-size:13px; 
}
.emp1{
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color:gray;
    width: 250px;

}
.pwd1{
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color:gray;
    margin-top: 20px;
    width: 250px;
}
.red{
    color: red;
}
