.footer{
    width: 100%;
    height: 60px;
    margin-top: 5px;
    color: white;
    background-color:#08476e;
}
.header3{
    margin-right: 900px;
    margin-top: 49px;
    font-size:15px;
}
.logo3{
    height: 21px;
    width: 30px;
    margin-left: 900px;
    margin-top: -55px;
}
.para{
    margin-left: 796px;
    margin-top: -47px;
    font-size: 13px; 
}
.para1{
    margin-left: 909px;
    margin-top: -34px;
    font-size: 17px; 
    color: brown;
}
#footer2{
    width: 100%;
    height: 50px;
    margin-top: 430px;
    background-color:#08476e;
    color: white; 
    position: fixed;
}
.footer7{
    width: 100%;
    height: 40px;
    margin-top: 150px;
    position: fixed;
}
.footer4{
    width: 100%;
    height: 50px;
    margin-top: 480px;
    position: fixed;
}
