.leaveform{
  background-color: white;
}
.sidebar{
  margin-right: 1073px;
}
.leaves{
    width: 341px;
    background-color: white;
    color: gray;
    height: 25px;
}

.fromdate{
  width: 345px;
}
.todate{
  width: 345px;
}

.leaveapp{
  margin-left: 124px;
  font-size: 33px;
}

.footerform{
  margin-top: -30px;
}
.reason{
 
  width: 345px;  
}
.contact{
  width: 345px;
  }
.holder5{
  width: 345px;

 
}

.apply{
  background-color:#1072e3;
  width: 109px;
 
  border-radius: 30px;
}
#cancelbtn{
  border-radius: 31px;
  background-color:#1072e3;
  width: 109px;
  margin-top: 10px;
}
.red{
  color: red;
}
.container_leave_dasboard{
 display: grid;
 grid-template-columns:300px  300px 300px ;
 grid-row-gap:30px;
 
}
.days_bal{
  display: grid;
  grid-template-columns: 680px;
  margin-left: 32px;
  grid-gap:30px;
}
/* form{
text-align: center;
} */
