.leaveform{
  background-color: white;
}
.sidebar{
  margin-right: 1073px;
}
.leaves{
    margin-right: 264px;
    width: 341px;
    background-color: white;
    color: gray;
    height: 25px;
    margin-left: 7px;
}

.fromdate{
  width: 345px;
}
.todate{
  width: 345px;
}
.grid-container{
    display: grid;
    grid-template-columns: 87px 342px 100px 318px;
    grid-template-rows: 30px 30px 30px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    margin-left: 285px;
}
.leaveapp{
  margin-left: 124px;
}
.leavetype{
    margin-right:2px;
}

.footerform{
  margin-top: 10px;
}
.reason{
  margin-left: 48px;
  margin-right: 300px;
  margin-top: -34px;
  width: 314px;
  height: 81px;
}
.contact{
  margin-left: 10px;
  margin-right: 388px;
  width: 238px;
  margin-top: 20px;
}
.holder5{
  margin-left: 84px;
  margin-right: 388px;
  width: 247px;
  margin-top: 20px;
}
/* #note{
  margin-right: 241px;
  margin-top: 10px;
  font-size: 13px;
} */
.apply{
  background-color:#1072e3;
  width: 109px;
  margin-right: 210px;
  border-radius: 30px;
}
#cancelbtn{
  border-radius: 31px;
  width: 109px;
  margin-right: 206px;
  margin-top: 10px;
}
