.footersummary{
  margin-top: 350px;
  
}
.container5{
    margin-right: 900px;
    margin-top: 10px;
    border-style: 1px ridge;
    height: 200px;
    
}
   table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
  }
  .clsitems1{
    width: 500px;
    margin-left: 600px;
    margin-top: -80px
  }
  .clsitems2{
    width: 500px;
    margin-left: 10px;
    margin-top: 15px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
 
 .tab16{
  width: 118px;
 }
 .tab11{
  width: 219px;
 }
 .tab12{
  width: 430px;
 }
 .tab14{
  width: 118px;
 }
 .tab15{
  width: 211px;
 }
 .tableitems12{
   margin-left: 600px;
   width: 500px;
 }
 .summarybtn{
  margin-right: 700px;
 }
