.footersummary{
  margin-top: 430px;
  
}
.container5{
    margin-right: 900px;
    margin-top: 10px;
    border-style: 1px ridge;
    height: 200px;
    
}
   table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
  }
  .clsitems1{
    width: 500px;
    margin-left: 600px;
    margin-top: -85px;
  }
  .clsitems2{
    width: 500px;
    margin-left: 10px;
    margin-top: 22px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */
 
 .tab16{
  width: 118px;
 }
 .tab11{
  width: 253px;
  text-align: center;
 }
 .tab12{
  width: 430px;
 }
 .tab14{
  width: 367px;
  text-align: center;
 }
 .tab15{
  width: 211px;
 }
 .tableitems12{
   margin-left: 600px;
   width: 500px;
 }
 .summarybtn{
  margin-right: 700px;
 }
 .tableitem2{
   margin-left: 10px;
 }
 .table2{
  width: 193px;
  text-align: center;
 }
 .tab1e3{
  width: 306px;
  text-align: center;
 }
 /* .summarybtn{
  width: 200px;
  margin-top: 20px;
  margin-right: 777px;
  border-radius: 30px;
  background-color: lightblue;
 } */
 .leavebaltab{
   width: 200px;
   background-color: lightblue;
   border-radius: 30px;
   margin-left: 150px;
   margin-top: -43px;
 }
 .leave_transaction{
  width: 200px;
  background-color: lightblue;
  border-radius: 30px;
  margin-left: 752px;
  margin-top: 10px;
 }
