table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .empdir{
    background-color: white;
  }
 .tab4{
  width: 140px;
  text-align: center;
 }
 .tabsi{
  width: 128px;
  text-align: center;
 }
 .tab5{
  width: 211px;
  text-align: center;
 }
 .tab6{
  width: 166px;
  text-align: center;
 }
 .tab7{
  width: 237px;
  text-align: center;
 }
 .tab8{
  width: 118px;
  text-align: center;
 }
 .tab9{
  width: 293px;
  text-align: center;
 }